<launch>
  <!-- D435 RGB interface through the shared XGC2 V4L2 camera product. -->
  <arg name="camera_ns" default="d435" />
  <arg name="video_device" default="/dev/xgc2-d435-color" />
  <include file="$(find xgc2_camera_driver)/launch/camera.launch">
    <arg name="camera_ns" value="$(arg camera_ns)" />
    <arg name="config_file" value="$(find agilex_onboard_autostart)/config/d435.yaml" />
    <arg name="backend" value="v4l2" />
    <arg name="video_device" value="$(arg video_device)" />
    <arg name="width" value="640" />
    <arg name="height" value="480" />
    <arg name="framerate" value="30.0" />
    <arg name="pixel_format" value="yuyv" />
    <arg name="output_encoding" value="bgr8" />
    <arg name="camera_name" value="d435" />
    <arg name="stream_id" value="d435" />
    <arg name="frame_id" value="d435_optical_frame" />
    <arg name="raw_publish_mode" value="always" />
  </include>
</launch>
